*{
    background-color: bisque;
}

header{
    padding-bottom: 20px;
    margin-bottom: -20px
}

.button {
    border-radius: 2px;
    background-color: #2a44db;
    border: none;
    color: purple;
    text-align: center;
    font-size: 20px;
    padding-bottom: 8px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    
    position: absolute;
    opacity: 5;
    top: 3;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 3;
    right: 0;
  }

.card {
    
    margin:0%
   
}

.img-container {
    
    height: 400px;
    width: 400px;
}

body {
    padding: 1%;
}

h1 {
    margin:0%;
    text-align: center
}

