<link rel="stylesheet" href="../static/signUp.css">
{% extends "base.html" %}

{% block content %}
<h1 align='center'>My Blogs</h1>
<ul class='list-group list-group-flush' id="blogs">
    {% for blog in user.blogs%}
    <li class='list-group-item'>{{blog.data}}
        <button type='button' class='close' onClick='deleteBlog ({{blog.id}})'>
            <span aria-hidden='true'>&times;</span>
        </button>
    </li>

   
    <div align="right">
        <small>Created on :{{blog.date}}</small>
    </div>
    <br //>
    
    {% endfor %}
</ul>

<form method="POST">
    <textarea name="blog" id="blog" class="form-control"></textarea>
    <div align='center'>
        <br />
        <button class='btn-outline-info' type='submit'>Add blog</button>
    </div>
</form>
<p align='center' style="font-size: 28px;">
    {{data.quote}}
    <br />

    <div align='right'>
        <small>∼∼{{data.author}}</small>
    </div>
    
    <a href="{{data.permalink}}">Learn more </a>
</p>


{% endblock %}